:root {
  font-family: sans-serif;
  font-size: 16px;

  /* ทำธีม */
  --app-surface-color: light-dark(#ffffff, #000000); /*สีพื้นหลัง*/
  --app-surface-container-color: light-dark(#808080, #404040); /*สีปุ่ม*/
  --app-on-surface-color: light-dark(#000000, #ffffff); /*สีฟอนต์*/

  --app-brand-primary-color: #00ff4c;

  --app-primary-color: light-dark(
    var(--app-brand-primary-color),
    color-mix(in srgb, var(--app-brand-primary-color), #ffffff 50%)
  );

  color-scheme: light dark;

  color: var(--app-on-surface-color);
  background-color: var(--app-surface-color);

  &[data-theme='light'] {
    color-scheme: light;
  }

  &[data-theme='dark'] {
    color-scheme: dark;
  }
}

.container {
  display: block;
  width: 50%;
  margin: 0 auto;
}

nav {
  display: flex;
  gap: 10px;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}
